* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bieu-mau {
  border: 2px solid green;
  margin: 0 auto;
  width: 500px;
  padding: 30px;
}

.bieu-mau h1 {
  display: inline-block;
  text-align: center;
}

.mo-ta {
  display: flex;
  flex-direction: column;
  grid-template: auto auto;
}

label {
  display: flex;
  justify-content: space-around;
}

.mo-ta label span {
  width: 200px;
}

button {
  margin: 20px auto;
  padding: 15px;
  border-radius: 5px;
  color: white;
  background-color: green;
  display: block;
  cursor: pointer;
}

.diem-danh-gia {
  border: 2px solid green;
  margin: 20px auto;
  width: 500px;
  text-align: center;
  padding: 30px;
  display: none;
}

.d-flex {
  display: block;
}
