* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f53b22;
}

/* header */
header {
  display: flex;
  background-color: #cd1818;
  justify-content: space-around;
  align-items: center;
  height: 56px;
}

header .header-brand {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1b/Logo-FPT-Shop-Black.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 151px;
}

header .header-search {
  position: relative;
}

.header-search input {
  width: 450px;
  height: 38px;
  border: none;
  font-size: 14px;
  padding: 0 60px 0 10px;
  background: #fff;
  border-radius: 2px;
}

.header-search i {
  background-color: #333333;
  width: 58px;
  height: 38px;
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  display: inline-block;
  padding-top: 8px;
  border-radius: 0 2px 2px 0;
}

.header-nav {
  display: flex;
  list-style: none;
  color: #fff;
  margin-bottom: none;
}

.header-nav li {
  display: flex;
  flex-direction: column;
  height: 56px;
  line-height: 1;
  padding-top: 18px;
  margin-left: 24px;
  text-align: center;
  cursor: pointer;
}

.header-nav li i {
  font-weight: 400;
  text-align: center;
  line-height: 1em;
  font-size: 20px;
}

.header-nav li span {
  font-size: 14px;
  line-height: 18px;
  margin-top: 4px;
}

/* header */

/* carousel ads */
.carousel-ads {
  width: 90%;
  margin: 0 auto;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
}

.ads-carousel-left {
  width: 70% !important;
  padding: 5px;
}

.ads-carousel-right {
  display: flex;
  flex-direction: column;
}

.ads-carousel-right img {
  height: 100px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.ads-carousel-right-sales {
  color: #6c757d;
  line-height: 1;
  font-size: 15px;
  font-weight: 700;
}
.ads-carousel-right-item {
}

.ads-carousel-right-item img {
  width: 70px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
}

.ads-carousel-right-item span {
  line-height: 1.3;
  font-size: 15px;
  font-weight: 700;
}

/* carousel ads */
/* carousel list item */
.item-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  border-radius: 6px;
}

.item-box {
  text-align: center;
  padding: 15px;
  width: 190px;
  height: 150px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.item-box-img {
  margin: 0 auto;
  align-items: center;
  background-color: #f4f4f4;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  position: relative;
}

.item-box-img img {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.item-box span {
  font-weight: 400;
  line-height: 1.3;
  font-size: 15px;
}
/* carousel list item */
/* item laptop */
.list-laptop {
  width: 90%;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-laptop {
  flex-basis: 25%;
  max-width: 25%;
  position: relative;
}

.box-laptop {
  background-image: url("https://images.fpt.shop/unsafe/fit-in/270x210/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/7/17/638252329684415669_frame-cate-270x210.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 280px;
  height: 220px;
  position: relative;
}

.box-laptop img {
  position: absolute;
  top: 50%;
  left: 145px;
  transform: translate(-50%, -40%);
}

.name-item-laptop {
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
  color: #474c51;
  margin-bottom: 10px;
}

.price-item-laptop {
  display: block;
  width: 130px;
  height: 28px;
  border-radius: 15px;
  background-color: #ef8573;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #fff;
}

.box-laptop-item-1 {
  border-radius: 0 6px 6px 0;
  color: #fff;
  background: #ea9d02;
  margin-bottom: 5px;
  font-size: 13px;
  padding: 0 8px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 40%;
}

.box-laptop-item-2 {
  border-radius: 0 6px 6px 0;
  font-size: 13px;
  padding: 0 8px;
  line-height: 24px;
  display: inline-block;
  color: #fff;
  background: #cb1c22;
  position: absolute;
  left: 0;
  top: 50%;
}

/* item laptop */
/* add admin */
.addAdmin {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  padding: 30px;
}

/* add admin */
