* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* block none */

.dBlock {
  display: block;
}

.dNone {
  display: none;
}

/* block none */

.baiTap {
  padding: 30px;
  background-color: aliceblue;
  /* background-image: url(https://previews.123rf.com/images/carloscastilla/carloscastilla1904/carloscastilla190400067/121376563-wallpaper-of-binary-code-concept-pattern-and-big-data-structure-net-and-source-code.jpg); */
  color: black;
  margin: 50px auto;
  display: flex;
  width: 80%;
}

.baiTap .listBaiTap {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 20%;
}

.listBaiTap .bai {
  border: none;
  padding: 10px 20px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.listBaiTap .bai {
  padding: 10px;
  border-radius: 5px;
}

.bai span {
  margin-left: 5px;
}

.listBaiTap .bai .closeBook {
  color: yellowgreen;
}

.listBaiTap .bai .openBook {
  display: none;
}

/* QA */

.QABaiTap {
  max-width: 80%;
}

.baiSo {
  padding: 18px;
}

.tieuDe {
}

.tieuDe i {
  font-size: 24px;
}

.tieuDe h1 {
  display: inline;
}

.goiY {
  background: rgba(255, 255, 255, 0.425);
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 24px 0;
}

.cach1 {
  cursor: pointer;
}

.cach1 img {
  display: none;
}

.nhapVao {
  display: flex;
  justify-content: space-between;
}

.nhapVao input {
  background: rgba(255, 255, 255, 0.425);
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.tinh {
  background: rgba(139, 152, 252, 0.425);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  display: inline-block;
  margin: 20px 0;
  cursor: pointer;
}

.ketQua {
  display: block;
  border: none;
  padding: 18px;
  border-radius: 5px;
  background: rgba(200, 201, 209, 0.425);
}
